<a href="https://colab.research.google.com/github/ada-nai/nptel-dap/blob/master/5/2_anova.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import scipy
from scipy import stats
import math
import pandas as pd
import numpy as np
import statsmodels.api as sm
from statsmodels.formula.api import ols
from matplotlib import pyplot as plt

/usr/local/lib/python3.7/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [2]:
data = pd.read_excel("https://github.com/ada-nai/nptel-dap/blob/master/5/data/anova-students.xlsx?raw=true")
data

   Black Board   Case Presentation    PPT
0             4                    2     2
1             3                    4     1
2             2                    6     3

In [3]:
# one way to do it: # directly pass data.columns to value_vars

data.columns

Index(['Black Board ', 'Case Presentation  ', 'PPT '], dtype='object')

In [4]:
melted = pd.melt(data.reset_index(), id_vars=['index'], value_vars= data.columns.to_list()) # ['Black Board ', 'Case Presentation  ', 'PPT ']
melted.columns = ['index', 'treatments', 'value']

In [5]:
melted

   index           treatments  value
0      0         Black Board       4
1      1         Black Board       3
2      2         Black Board       2
3      0  Case Presentation        2
4      1  Case Presentation        4
5      2  Case Presentation        6
6      0                 PPT       2
7      1                 PPT       1
8      2                 PPT       3

In [6]:
model = ols('value ~ C(treatments)', data= melted).fit()

In [7]:
anova_table = sm.stats.anova_lm(model, typ= 1)

In [8]:
anova_table

                df  sum_sq  mean_sq    F    PR(>F)
C(treatments)  2.0     6.0      3.0  1.5  0.296296
Residual       6.0    12.0      2.0  NaN       NaN

We cannot conclude that at least population mean is unequal

## Problem: ANOVA - Paper tensile strength
A manufacturer of paper that is used for making grocery bags is interested in improving the tensile strength of the product Product engineer thinks that tensile strength is a function of the hardwood concentration in the pulp and that the range of hardwood concentrations of practical interest is between 5 and 20%.

A team of engineers responsible for the study decides to investigate four levels of hardwood concentration: 5%, 10%, 15%, and 20%. They decide to make up six test specimens at each concentration level, using a pilot plant.

In [9]:
from xlrd.formula import colname
strength = pd.read_excel("https://github.com/ada-nai/nptel-dap/blob/master/5/data/tensile_paper.xlsx?raw=true")
strength

,hardwood concentration 5%,hardwood concentration 10%,hardwood concentration 15%,hardwood concentration 20%
0,7,12,14,19
1,8,17,18,25
2,15,13,19,22
3,11,18,17,23
4,9,19,16,18
5,10,15,18,20

In [10]:
strength.columns

Index(['hardwood concentration 5%', 'hardwood concentration 10%',
       'hardwood concentration 15%', 'hardwood concentration 20%'],
      dtype='object')

In [11]:
 melted_strength = pd.melt(strength.reset_index(), id_vars=['index'], value_vars=['hardwood concentration 5%',
 'hardwood concentration 10%',
 'hardwood concentration 15%',
 'hardwood concentration 20%'])
 melted_strength.columns = ['index', 'treatments', 'value']

In [12]:
melted_strength

    index                  treatments  value
0       0   hardwood concentration 5%      7
1       1   hardwood concentration 5%      8
2       2   hardwood concentration 5%     15
3       3   hardwood concentration 5%     11
4       4   hardwood concentration 5%      9
5       5   hardwood concentration 5%     10
6       0  hardwood concentration 10%     12
7       1  hardwood concentration 10%     17
8       2  hardwood concentration 10%     13
9       3  hardwood concentration 10%     18
10      4  hardwood concentration 10%     19
11      5  hardwood concentration 10%     15
12      0  hardwood concentration 15%     14
13      1  hardwood concentration 15%     18
14      2  hardwood concentration 15%     19
15      3  hardwood concentration 15%     17
16      4  hardwood concentration 15%     16
17      5  hardwood concentration 15%     18
18      0  hardwood concentration 20%     19
19      1  hardwood concentration 20%     25
20      2  hardwood concentration 20%     22
21      3  hardwood concentration 20%     23
22      4  hardwood concentration 20%     18
23      5  hardwood concentration 20%     20

In [13]:
strength_model = ols('value ~ C(treatments)', data= melted_strength).fit()

In [14]:
strength_model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  value   R-squared:                       0.746
Model:                            OLS   Adj. R-squared:                  0.708
Method:                 Least Squares   F-statistic:                     19.61
Date:                Thu, 21 Apr 2022   Prob (F-statistic):           3.59e-06
Time:                        05:57:41   Log-Likelihood:                -54.344
No. Observations:                  24   AIC:                             116.7
Df Residuals:                      20   BIC:                             121.4
Df Model:                           3
Covariance Type:            nonrobust
===============================================================================================================
                                                  coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------------------------------------
Intercept                                      15.6667      1.041     15.042      0.000      13.494      17.839
C(treatments)[T.hardwood concentration 15%]     1.3333      1.473      0.905      0.376      -1.739       4.406
C(treatments)[T.hardwood concentration 20%]     5.5000      1.473      3.734      0.001       2.428       8.572
C(treatments)[T.hardwood concentration 5%]     -5.6667      1.473     -3.847      0.001      -8.739      -2.594
==============================================================================
Omnibus:                        0.929   Durbin-Watson:                   2.181
Prob(Omnibus):                  0.628   Jarque-Bera (JB):                0.861
Skew:                           0.248   Prob(JB):                        0.650
Kurtosis:                       2.215   Cond. No.                         4.79
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [15]:
strength_anova = sm.stats.anova_lm(strength_model, typ= 1)
strength_anova

                 df      sum_sq     mean_sq          F    PR(>F)
C(treatments)   3.0  382.791667  127.597222  19.605207  0.000004
Residual       20.0  130.166667    6.508333        NaN       NaN

Reject $H_0$

Using Fisher's LSD method

In [16]:
t = -1*stats.t.ppf(0.025, 20)
n = 6 # Number of observations per treatment
MSE = 6.5083 # from ANOVA table
lsd = t*math.sqrt(2*MSE/n)
lsd

3.0724147990745685

Compare differences between pairs of observed values of concentration. Those having value less than `lsd` produce the same tensile strength

In [17]:
from statsmodels.stats.multicomp import pairwise_tukeyhsd
from statsmodels.stats.multicomp import MultiComparison
strength_mc = MultiComparison(melted_strength['value'], melted_strength['treatments'])

In [18]:
strength_mc_result = strength_mc.tukeyhsd(0.05)
strength_mc_result.summary()

Concetrations 10% and 15% have the same effect

## Problem: Tukey-Cramer Test
Following table shows observed tensile strength (lb/in square) of different clothes having different weight percentage of cotton. 

Check whether having different weight percentage of cotton, plays any role in tensile strength (lb/in square) of clothes.

In [19]:
cotton = pd.read_excel("https://github.com/ada-nai/nptel-dap/blob/master/5/data/cotton.xlsx?raw=true")

In [20]:
cotton.columns.to_list()

['cotwt.15', 'cotwt.20', 'cotwt.25', 'cotwt.30', 'cotwt.35']

In [21]:
melted_cotton = pd.melt(cotton.reset_index(), id_vars=['index'], 
value_vars=['cotwt.15', 'cotwt.20', 'cotwt.25', 'cotwt.30', 'cotwt.35'])
melted_cotton.columns = ['index', 'treatments', 'value']

In [22]:
cotton_mc = MultiComparison(melted_cotton['value'], melted_cotton['treatments'])
cotton_mc_results = cotton_mc.tukeyhsd(0.05)
cotton_mc_results.summary()

Following pairs of cotton strength have the same effect:
- (15, 35)
- (20, 35)
- (20, 25)
- (25, 30)